---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: white;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;  

 @mixin media-query($device) {
  @media screen and (max-width: $device) {
        @content;
          padding-top: 30px;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.logo {
  max-width: 50px;
  max-height: 20px;
  display: float;
}
.logo img {
  max-width: 100px;
  max-height: 20px;
  float: left;
}
nav {
    background: white//#999;
}

.jumbotron {
  background-color: white;
  padding-top:25px;
  padding-bottom:20px;
} 
.container{
 padding-left: 0px;
}

.archives ul{
 margin: 0 0 0 -20px;
 list-style: none;
 text-align: center;

}

h1{
 padding-left: 0px;
 padding-top: 10px;
 font-size: 40px;
 color: #1756a9;
}
a.btn-primary,
a.btn-primary:visited {
 color: white;
}
.main-content {
 width: 100%;
 max-width: 900px;
 padding: 0 0 0 0;
 float: left;
 display: inline-block;
 margin-top: 26px;
}
div.content {
 font-size: 1.2em;
 max-width: 550px;
}
// Jekyll broke when I tried to remove the border-radius and box-shadow on March 7, 2016
.side-bar { 
 width: 20%;
 float: right;
 margin: 184px 0 0 0px;
 display: inline-block;
 padding-left: 30px;
 padding-right: 10px;
 background-color: white;
 position: fixed;
 right: 20px;
}

.archives, .archives h2{
 color: #1756a9;
 text-align: center;
 margin: 0;
 padding-bottom: 5px;
 line-height: 1.75em;
}
a:hover {
 text-decoration: none;
}
a.post-link {
 max-width: 250px;
}
.date {
 font-weight: bold;
}
.home {
 max-width: 550px;
 display: inline-block;
 margin-top: 50px;
}
.nav-side {
  position: fixed;
  left: 0;
  top: 40px;
  height: 100%;
  width: 100%;
  max-width: 250px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  color: #888;
  margin-left: 50px;
  margin-right: 50px;
}
p {
 font-style: italic;
}
.jumbotron h1{
 font-size: 40px;
}
.post{
 max-width: 550px;
 display: inline-block;
}
h1.post-title{
  color: #1756a9;
}
.back-to-posts{
 max-width: 100px;
}
