.logo {
  max-width: 50px;
  max-height: 20px;
  display: float;
}
.logo img {
  max-width: 100px;
  max-height: 20px;
  float: left;
}
 nav.navbar.navbar-inverse.navbar-fixed-top {
   background-color:#555;
 }

.post-list a {
  color: #0ac920;
}
