<html>
  <header>

  <div>

    <!--<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->

    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand logo alignment" href="/staq"><img src='http://staq-devblog-assets.s3.amazonaws.com/images/staq_logo_transparent.png'></a>
        <ul class="nav-options">
          <li>Home</li>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>GitHub</li>

        </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

  </div>

  </header>
</html>
