<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <div class="wrapper">

    {% include header.html %}

    <div class="">
      <div class="">
        {{ content }}
        <div class="side-bar">
      
      <div class="archives">
        <h2>Archives</h2>
        <ul>
          <li>
            January
          </li>
          <li>
            February
          </li>
          <li>
            March
          </li>
          <li>
            April
          </li>
          <li>
            May
          </li>
          <li>
            June
          </li>
        </ul>
      </div>
      
      </div>
      </div>
    </div>
    {% include footer.html %}
    </div>
  </body>
</html>
